@page "/products"

<h3>Productos</h3>

<div class="mb-3">
    <a class="btn btn-primary" href="/products/create">Nuevo Producto</a>
</div>

<GenericList MyList="Products">
    <Body>
        <table class="table table-striped">
            <thead>
                <tr>
                    <th>Nombre</th>
                    <th>Precio</th>
                    <th>Cantidad</th>
                </tr>
            </thead>
            <tbody>
                @foreach (var product in Products!)
                {
                    <tr>
                        <td>
                            @product.Name
                        </td>
                        <td>
                            @($"{product.Price:C2}")
                        </td>
                        <td>
                            @($"{product.Quantity:N2}")
                        </td>
                        <td>
                            <a class="btn btn-warning">Editar</a>
                            <button class="btn btn-danger">Borrar</button>
                        </td>
                    </tr>
                }
            </tbody>
        </table>
    </Body>
</GenericList>